@font-face {
    font-family: 'Norse';
    src: url(assets/Norse-Bold.otf); 
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    max-height: 100vh;
}

.left {
    background-image: url(assets/left.jpg);    
    height: 100vh;
    background-size: cover;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -20vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25vh 0;
}

img {
    max-height: 15vh;
}

h1 {
    font-family: 'Norse', 'Courier New', Courier, monospace;
    font-size: 48px;
}


.right {
    height: 100vh;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.05);
}

.top {
    padding: 5vh 10vw 5vh 5vw;
    font-size: x-large;
    font-weight: bold;
}

.top p {
    padding: 1.25vh 0;
}

.form {
    padding: 2.5vh 10vw 2.5vh 5vw;
    background-color: white;
    box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, 0.2);
}
.form p {
    font-size: xx-large;
    padding-bottom: 2.5vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.form div {
    display: flex;
    flex-direction: column;
    padding: 1.5vh 0;
    margin: 0 5vw 0 0;
}

label {
    width: 20vw;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: blue 0px 2px 5px 0px;
}

input {
    width: 20vw;
    padding: 1vh 1vw;
    border: 1px solid #E5E7EB;
}

.password:invalid {
    border: 1px solid red;
}

.bottom {
    padding: 5vh 10vw 5vh 5vw;
}

button {
    padding: 2vh 3vw;
    border-radius: 5px;
    background-color: #596D48;
    border: none;
    font-size: large;
    color: #E5E7EB;
}

.bottom p {
    padding-top: 2.5vh;
    font-size: large;
}
/* 

/*
.header {
    padding: 12vh 15vw 5vh 5vw;
    font-weight: bolder;
    font-size: x-large;
    background-color: #E5E7EB;
}
.formfield {
    padding: 1vh 20vw 5vh 5vw;
}

.formfield p {
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: x-large;
    font-weight: bold;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: space-between;
}

.input {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1vh 2vw 1vh 0;
}

.formfield input {
    padding: 1.5%;
    border-style: none;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

#password1, #password2 {
    border: 1px solid red;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 1px 1px 2px 2px #888;
}



.footer {
    background-color: #E5E7EB;
    padding: 5vh 20vw 16vh 5vw;
}

button {
    position: absolute;
    background-color: #596D48;
    border-radius: 10px;
    padding: 1.5vh 3vw;
    color: white;
    border-style: none;
    top: 73.5vh;
}

a {
    color: #596D48;
    text-decoration: none;
}

.input p {
    font-size: medium;
    font-weight: normal;
    color: red;
}

.hidden {
    display: none;
} */
